*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background: #54007c;
}

.title{
    color:white;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.title font{
    font-weight: 100;
}

.container__cards{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    perspective: 900px;
}









